<input type="file" {{bind-attr multiple="multiple" disabled="disabled"}}>
<div class="un-uploader-button">
  <button {{bind-attr disabled="disabled"}}>
    <span>{{{label}}}</span>
  </button>
</div>
