<section class="images">
  <p class="add-image">
    {{un-uploader label="+ Add Image" selected="addFile"}}
  </p>

  <ul>
    {{#each image in controller}}
      <li {{bind-attr class="image.isProcessed::loading"}}>
        {{#if image.thumbUrl}}
          <img {{bind-attr src="image.thumbUrl"}}>
        {{else}}
          [SPINNER]
        {{/if}}
      </li>
    {{/each}}
  </ul>
</section>
