* {
  outline: none;
}

html, body {
  font: normal normal 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

input, button, textarea {
  font: inherit;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
    top: 1px;
  }
}

body > div > header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background: rgba(#fff, 0.95);
  border-bottom: 1px solid #eee;
  @include user-select( none );

  h1 {
    color: $crimson;
    font: 400 1.5em/1 Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    margin: 0;

    &:hover {
      color: #ddd;
    }

    .un {
      display: inline-block;
      background: $crimson;
      color: white;
      padding: 0 0.25em 0.25em;
      line-height: 1;
      border-radius: 3px;
      &:hover {
        text-decoration: none;
        background: lighten( $crimson, 10% );
      }
      &:active {
        background: darken( $crimson, 10% );
      }
    }
    .dash {
      opacity: 0;
    }
  }
}

main {
  padding: 70px 20px 20px 240px;
}
