html, body {
  font-family: "Helvetica Neue", Ariel, Sans;
  margin: 0;
  margin-top: 40px;
}

body > div > header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(#b73001, 0.95);

  h1 {
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 0;
    margin-left: 10px;
    line-height: 35px;
  }
}
