section.images {
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    @include clearfix;
  }

  aside {
    position: fixed;
    bottom: 10px;
    width: 200px;
    left: 20px;

    p {
      text-align: center;
      font-size: 14px;
      color: #777;
      padding: 0 8px;
    }

    .github-link a {
      font-weight: bold;
      color: $crimson;
    }
  }

  li {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #f3f3f3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #eee;
    @include box-sizing( border-box );
    @include animation( grow 600ms both );

    img {
      display: none;
    }

    h2 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: #eee;
      color: #666;
      font-size: 1em;
      font-weight: 400;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 5px 10px;
    }

    .progress-bar {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      background: $green;
    }

    &.failed {
      background: lighten( $red, 30% );
      @include user-select( none );

      &:hover {
        cursor: pointer;
      }

      button {
        display: block;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 30px;
        border: 0;
        width: 100%;
        font-size: 8em;
        line-height: 0.5;
        background: transparent;
        color: lighten($red, 15%);
      }

      h2 {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-overflow: clip;
        overflow: visible;
        background: rgba( $red, 0.25 );
        color: lighten( $red, 50% );
        text-align: center;
      }
    }
  }
}
